@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box; }

body {
  background-image: linear-gradient(to right bottom, #0F2027, #203A43, #2C5364);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  color: #7f8c8d; }

.heading__primary {
  font-weight: 400; }
  .heading__primary--sub {
    font-size: 2rem; }
  .heading__primary--main {
    font-size: 3rem; }

.heading__secondary {
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
  color: #2c3e50; }

.margin-bottom-large {
  margin-bottom: 8rem !important; }

.margin-bottom-medium {
  margin-bottom: 4rem !important; }

.margin-bottom-small {
  margin-bottom: 2rem !important; }

.margin-top-large {
  margin-top: 8rem !important; }

.margin-top-medium {
  margin-top: 4rem !important; }

.margin-top-small {
  margin-top: 2rem !important; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: rgba(236, 240, 241, 0.5);
  border: none;
  display: block;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: all .2s;
  outline: none; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #7f8c8d; }
  .form__input:focus:invalid {
    border: none;
    outline: none;
    border-bottom: 3px solid #c0392b; }
  .form__input--main {
    font-family: inherit;
    font-size: 1.2rem;
    color: inherit;
    padding: .5rem 0;
    display: block;
    width: 100%;
    outline: none;
    border: none;
    background-color: inherit;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: all .2s; }
    .form__input--main:focus {
      outline: none;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
      border-bottom: 1px solid #7f8c8d; }
    .form__input--main:focus:invalid {
      border: none;
      outline: none;
      border-bottom: 1px solid #c0392b; }
    .form__input--main:invalid {
      border: none;
      outline: none;
      border-bottom: 1px solid #c0392b; }

.form__label {
  font-size: 1.2rem;
  font-weight: 400;
  margin-left: 2rem;
  display: block;
  transition: all .2s; }
  .form__label--up {
    font-size: 1.2rem;
    font-weight: 400;
    margin-top: 2rem;
    display: block; }
    .form__label--up:hover {
      cursor: pointer; }
  .form__label--active {
    color: #2980b9;
    font-size: 1.3rem; }
  .form__label:hover {
    cursor: pointer; }

.form label:hover {
  cursor: pointer; }

.form__input:placeholder-shown + .form__label {
  transform: translateY(-4rem);
  opacity: 0;
  visibility: hidden; }

.form__radio-group {
  width: 49%;
  display: inline-flex;
  align-content: center; }

.form__radio-label {
  font-size: 1.4rem;
  cursor: pointer;
  position: relative;
  padding-left: 4.5rem; }

.form__radio-input {
  display: none; }

.form__radio-button {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: inline-flex;
  border: 2px solid #7f8c8d;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-left: -30%; }
  .form__radio-button::after {
    content: "";
    height: 1.6rem;
    width: 1.6rem;
    display: block;
    background-color: #7f8c8d;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity .2s; }

.form__radio-input:checked ~ .form__radio-label > .form__radio-button::after {
  opacity: 1; }

.form__select {
  font-family: inherit;
  font-size: 1.2rem;
  color: inherit;
  padding: 1rem 2rem;
  border-radius: 3px;
  background-color: rgba(236, 240, 241, 0.5);
  border: none;
  display: block;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: all .2s;
  outline: none; }
  .form__select:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 3px solid #7f8c8d; }
  .form__select:focus:invalid {
    border: none;
    outline: none;
    border-bottom: 3px solid #c0392b; }

.input__group {
  display: flex;
  flex-grow: 0; }
  .input__group .upload-img-group {
    display: flex;
    flex: 0 0 25%; }
    .input__group .upload-img-group img {
      width: 98%; }

/* For Firefox */
input[type='number'] {
  -moz-appearance: textfield; }

/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.btn,
.btn:link,
.btn:visited {
  border: none;
  padding: 1rem 2rem;
  text-transform: uppercase;
  font-size: 1.5rem;
  background-image: linear-gradient(to right, #0F2027, #203A43, #2C5364);
  color: #ecf0f1;
  border-radius: 100px;
  transition: all .2s; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-3px) scale(1.1);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
    cursor: pointer; }
  .btn:active,
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(-1px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }

.header {
  display: flex;
  border-bottom: 1px solid #7f8c8d;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  margin-bottom: .5rem; }

.container {
  min-height: 60rem;
  background-color: #f1f2f6;
  width: 95%;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: flex;
  flex-direction: column; }
  .container .main {
    display: flex;
    flex-grow: 1; }
    .container .main .nav-container {
      flex: 0 0 25%;
      padding: 2rem;
      border-right: 1px solid #7f8c8d; }
      .container .main .nav-container .nav-wrapper > :not(:last-child) {
        margin-bottom: 1rem; }
      .container .main .nav-container .nav-wrapper {
        list-style: none; }
      .container .main .nav-container .nav-item {
        text-transform: uppercase;
        border-bottom: 1px solid #bdc3c7;
        display: block; }
        .container .main .nav-container .nav-item a.nav-link {
          padding: 1rem;
          text-decoration: none;
          display: block;
          color: #7f8c8d; }
  .container .form-container {
    flex: 0 0 75%;
    padding: 2rem; }
  .container .btn-group {
    display: flex; }

.login {
  height: 100vh;
  display: flex;
  position: relative; }
  .login__box {
    margin: auto;
    background-color: #ecf0f1;
    padding: 4rem;
    box-shadow: 0rem 2rem 5rem rgba(0, 0, 0, 0.5);
    border-radius: 3px; }
  .login__heading {
    color: #7f8c8d;
    font-size: 4rem;
    font-weight: 300;
    padding: 0 2rem 2rem 0;
    text-align: center;
    text-transform: uppercase; }
