//color for background gradient
$color-gradient-1 : #0F2027;
$color-gradient-2 : #203A43;
$color-gradient-3 : #2C5364;

//colors
$color-white: #ecf0f1;
$color-primary: #2980b9;
$color-danger: #c0392b;