@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
html
{
    font-size: 62.5%;
}

body
{
    font-size: 1.6rem;
    font-family: 'Open Sans', sans-serif;
    color: $color-primary;
}

.heading
{
    &__primary
    {
        font-weight: 400;

        &--sub
        {
            font-size: 2rem;
        }

        &--main
        {
            font-size: 3rem;
        }
    }

    &__secondary
    {
        font-size: 2.5rem;
        font-weight: 400;
        text-align: center;
        color: #2c3e50;
    }

}

.tag__text
{
    padding: .5rem;
    text-align: center;
    display: block;
    color: $color-primary;

    &--right
    {
        padding: .5rem;
        text-align: right;
        display: block;
        color: $color-primary;
    }
}

.description__para
{
    text-indent: 5rem;
    font-size: 1.4rem;
    color: rgba(#000,.8);
}

.report__link
{
    font-size: 1.4rem;
    color: $color-primary;
    display: block;
    padding: 1rem 0;
}

.extra-info
{
    font-size: 1.4rem;
    display: block;
}